colabcode
fastapi
uvicorn
transformers
python-multipart
torch
transformers
bitsandbytes
accelerate
sentence_transformers
python-dotenv
ctransformers
langchain
faiss-cpu
poppler-utils
tiktoken
tqdm
unstructured[all-docs]
python-jose[cryptography]
passlib[bcrypt]